
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

main {
  border: rgb(95, 173, 237);
}
ul {
  border-top: 3px solid rgb(95, 173, 237);
  border-bottom: 3px solid rgb(95, 173, 237);
}

li {
  color: rgb(95, 173, 237);
  list-style-type: none

}

h1 {
  color: rgb(95, 173, 237);

}
