
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.container {
  width: 100%;
  margin: 0 auto;
  top: 0;
}

#blueshirt {
  max-width: 100%;
  position: relative;
  display: inline-block;
  float: left;
  border: solid 2px rgb(95, 173, 237);
  padding: 0;
}

#blueshirt img{
  max-width: 100%;
  padding: 20px;
}

.nav {
  width: 100%;
}

.nav ul {
  list-style-type: none;
  background-color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  color: rgb(95, 173, 237);
  float: left;
  width: 80px;
  max-width: 100%;
  font-size: 1.2em;
  border-top: solid 2px;
  border-right: solid 2px;
  line-height: 40px;
  height: 40px
  font-family: Oswald, sans-serif;
  /*"oswald"*/
}

.nav a {
  text-decoration: none;
  display: block;
  color: rgb(95, 173, 237);
  transition: .3s background-color;
}

.nav a:hover {
 background-color: rgb(95, 173, 237);
 color: white;
}

nav a.active {
  background-color: white;

}

.nav ul ul {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  bottom: 2.2em;
  left: auto;
  right: auto;
  width: 80px;
  transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
}

.nav ul ul li {
  font-size: 1em;
}

.nav ul li:hover ul {
  border: solid thin rgb(95, 173, 237);
  visibility: visible;
  opacity: 1;
  transition: .5s, border .5s;
}

h1 {
  color: rgb(95, 173, 237);
}

#pinkshirt {
  max-width: 100%;
  position: relative;
  display: inline-block;
  float: left;
  border: solid 2px rgb(95, 173, 237);
  padding: 0;
  float: left;
}

#pinkshirt img{
  max-width: 100%;
  padding: 20px;
  float: left;
}

#yellowshirt {
    max-width: 100%;
    position: relative;
    display: inline-block;
    float: left;
    border: solid 2px rgb(95, 173, 237);
    padding: 0;
    text-decoration: none;
    display: block;

  }

#yellowshirt img{
    max-width: 100%;
    padding: 20px;
